html {
    box-sizing: border-box;
}

*, 
*::before, 
*::after {
    box-sizing: inherit;
}

.container {
    background-color: pink;
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
}

.row-container {
    display: flex;
    flex: 1;
}

.pixel {
    flex: 1;
}

.bg-black {
    background-color: black;
}

.menu, form {
    font-size: 1.5em;
    display: flex;
    gap: 20px;
    align-items: center;
}

form input {
    height: 2em;
    width: 16em;
}

form button{
    height: 2em;
}
